<div class="top-panel__title">
  <strong>{{title}}</strong>
  <div class="top-panel__title-line"></div>
</div>
<div class="top-panel__links flex">
  <a href="define-product.html" class="top-panel__link">
    <img src="/assets/images/main/header-icon-1.svg" class="top-panel__img" alt="">
    <div class="top-panel__caption">Подобрать<br> продукты</div>
  </a>
  <a href="#" class="top-panel__link">
    <img src="/assets/images/main/header-icon-2.svg" class="top-panel__img" alt="">
    <div class="top-panel__caption">Что такое<br> ИИС</div>
  </a>
  <a href="product-catalog.html" class="top-panel__link">
    <img src="/assets/images/main/header-icon-3.svg" class="top-panel__img" alt="">
    <div class="top-panel__caption">Каталог<br> продуктов</div>
  </a>
</div>
