<div class="wrapper flex">
  <div class="header-mobile__logo">
    <a href="#"><img src="/assets/images/main/logo.svg" alt=""></a>
  </div>
  <div class="header-mobile__burger header-mobile__burger--js">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="header-mobile__close header-mobile__close--js">
    <img src="/assets/images/main/close-icon.png" alt="">
  </div>
</div>
