<ul>
  <li class="current">
    <a href="main.html">Продукты</a>
    <ul *ngIf='recursive'>
      <li><a href="trust-management.html">Доверительное управление</a></li>
      <li><a href="brokerage-service.html">Брокерское обслуживание</a></li>
      <li><a href="open-funds.html">Открытые паевые фонды</a></li>
    </ul>
  </li>
  <li><a href="your-case-full.html">Портфель</a></li>
  <li><a href="functions.html">функции</a></li>
  <li><a href="">Реквизиты</a></li>
  <li><a href="account-customer-questionnaire.html">аккаунт</a></li>
</ul>
