<div class="wrapper">
  <div class="footer__content flex">
    <div class="footer__links">
      <ul>
        <li><a href="product-catalog.html">Каталог продуктов</a></li>
        <li class="hide_mobile">|</li>
        <li><a href="">Конфиденциальность</a></li>
        <li class="show_pc">|</li>
        <li>Техническая поддержка: <span class="br-mobile"></span> <a href="tel:+74959889821">+7 (495) 988 98 21</a>
          <span class="gray">•</span> <a href="mailto:MAIL@QBFIN.RU">MAIL@QBFIN.RU</a></li>
      </ul>
    </div>
    <div class="footer__copiright">QBF • 2019</div>
  </div>
</div>
