<div class="products-block__colunm-body">
  <div class="products-block__title">Доверительное управление</div>
  <div class="products-block__description">Услуга в одинаковой мере востребована как у начинающих, так и у опытных
    инвесторов. Стратегии управления активами подобраны под различный клиентский профиль и задачи.</div>
  <div class="du-list">
    <div class="du-list__item">
      <a class="du-list__contanier" href="trust-management-move-up.html">
        <div class="du-list__name">Движение<br> вверх</div>
        <div class="du-list__yield">20–25%</div>
        <div class="du-list__caption">целевая<br> доходность</div>
        <div class="du-list__img du-list__img_desktop"><img src="/assets/images/main-page/desktop/DU-1-desktop.png"
            alt=""></div>
        <div class="du-list__img du-list__img_planshet"><img src="/assets/images/main/roket-planshet.png" alt="">
        </div>
        <div class="du-list__img du-list__img_mobile"><img src="/assets/images/main-page/mobile/DU-1-mobile.png" alt="">
        </div>
      </a>
      <div class="du-list__description">Стратегия подходит инвесторам, ориентированным на повышенную доходность на
        российском рынке ценных бумаг.</div>
      <div class="du-list__flex flex">
        <a class="du-list__btn btn btn_darkgray" href="trust-management-move-up.html">Подробнее</a>
        <a class="du-list__offers-btn" href="trust-management.html">
          <div class="du-list__offers-btn-icons">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.28 24.08">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                      stroke: #fff;
                      stroke-miterlimit: 10;
                      stroke-width: 0.5px;
                    }

                  </style>
                </defs>
                <title>Ресурс 5</title>
                <g id="Слой_2" data-name="Слой 2">
                  <g id="Content">
                    <g id="DU">
                      <rect class="cls-1" x="0.25" y="0.25" width="6.83" height="23.58" rx="0.65" />
                      <circle class="cls-1" cx="3.67" cy="20.48" r="1.93" />
                      <line class="cls-1" x1="1.65" y1="4.34" x2="5.6" y2="4.34" />
                      <line class="cls-1" x1="1.65" y1="5.65" x2="5.6" y2="5.65" />
                      <line class="cls-1" x1="1.65" y1="6.96" x2="5.6" y2="6.96" />
                      <rect class="cls-1" x="9.22" y="0.25" width="6.83" height="23.58" rx="0.65" />
                      <circle class="cls-1" cx="12.64" cy="20.48" r="1.93" />
                      <line class="cls-1" x1="10.63" y1="4.34" x2="14.57" y2="4.34" />
                      <line class="cls-1" x1="10.63" y1="5.65" x2="14.57" y2="5.65" />
                      <line class="cls-1" x1="10.63" y1="6.96" x2="14.57" y2="6.96" />
                      <rect class="cls-1" x="18.19" y="0.25" width="6.83" height="23.58" rx="0.65" />
                      <circle class="cls-1" cx="21.61" cy="20.48" r="1.93" />
                      <line class="cls-1" x1="19.6" y1="4.34" x2="23.54" y2="4.34" />
                      <line class="cls-1" x1="19.6" y1="5.65" x2="23.54" y2="5.65" />
                      <line class="cls-1" x1="19.6" y1="6.96" x2="23.54" y2="6.96" />
                    </g>
                  </g>
                </g>
              </svg>
            </i>
          </div>
          <span>Все предложения</span>
        </a>
      </div>
    </div>
  </div>
</div>
