  <div class="analytics__left">
    <div class="analytics__title">Аналитика</div>
    <div class="top-panel__title-line"></div>
    <div class="analytics__img">
      <img src="/assets/images/main/Analitics-desktop.jpg" alt="">
    </div>
  </div>
  <div class="analytics__right">
    <div class="analytics__body">
      <div class="analytics__slick">
        <div class="analytics__slide">
          <div class="analytics__caption">
            <strong>«ГАЗПРОМ» ПЛАНИРУЕТ ВЫЙТИ НА АЗИАТСКИЕ БИРЖИ</strong>
            <small>•</small>
            <span>27.05.2019</span>
          </div>
          <div class="analytics__text">Представители «Газпрома» рассказали о планируемом листинге компании на
            азиатских биржах. Прежде всего, для размещения новых акций рассматриваются Гонконгская и Сингапурская
            площадки. Возможности и перспективы листинга на азиатских биржах рассматриваются в компании на протяжении
            более чем 5-и лет, и в настоящий момент это может быть как никогда актуально.</div>
        </div>
        <div class="analytics__slide">
          <div class="analytics__caption">
            <strong>«ГАЗПРОМ» ПЛАНИРУЕТ ВЫЙТИ НА АЗИАТСКИЕ БИРЖИ 2</strong>
            <small>•</small>
            <span>01.10.2018</span>
          </div>
          <div class="analytics__text">Представители «Газпрома» рассказали о планируемом листинге компании на
            азиатских биржах. Прежде всего, для размещения новых акций рассматриваются Гонконгская и Сингапурская
            площадки. Возможности и перспективы листинга на азиатских биржах рассматриваются в компании на протяжении
            более чем 5-и лет, и в настоящий момент это может быть как никогда актуально.</div>
        </div>
        <div class="analytics__slide">
          <div class="analytics__caption">
            <strong>«ГАЗПРОМ» ПЛАНИРУЕТ ВЫЙТИ НА АЗИАТСКИЕ БИРЖИ 3</strong>
            <small>•</small>
            <span>18.12.2018</span>
          </div>
          <div class="analytics__text">Представители «Газпрома» рассказали о планируемом листинге компании на
            азиатских биржах. Прежде всего, для размещения новых акций рассматриваются Гонконгская и Сингапурская
            площадки. Возможности и перспективы листинга на азиатских биржах рассматриваются в компании на протяжении
            более чем 5-и лет, и в настоящий момент это может быть как никогда актуально.</div>
        </div>
      </div>
      <div class="bo-body__arrow bo-body__arrow_left">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                  stroke: #999;
                  stroke-miterlimit: 10;
                  stroke-width: 0.75px;
                }

              </style>
            </defs>
            <title>Ресурс 16</title>
            <g id="Слой_2" data-name="Слой 2">
              <g id="Content">
                <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
              </g>
            </g>
          </svg>
        </i>
      </div>
      <div class="bo-body__arrow bo-body__arrow_right">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.09 29.13">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                  stroke: #999;
                  stroke-miterlimit: 10;
                  stroke-width: 0.75px;
                }

              </style>
            </defs>
            <title>Ресурс 16</title>
            <g id="Слой_2" data-name="Слой 2">
              <g id="Content">
                <polyline class="cls-1" points="14.83 28.86 0.53 14.56 14.83 0.27"></polyline>
              </g>
            </g>
          </svg>
        </i>
      </div>
    </div>
    <a href="https://qbfin.ru/analytics/reviews/" target="_balnk" class="analytics__link">Больше аналитики Вы можете
      посмотреть на сайте QBF III Portfolio management</a>
  </div>
