<div class="products-block flex">
  <app-products-block class="products-block__colunm"></app-products-block>
  <app-products-block2 class="products-block__colunm"></app-products-block2>
</div>
<div class="products-block products-block_gray products-block_pt">
  <app-analytics class="analytics flex"></app-analytics>
</div>
<app-invest-modal></app-invest-modal>
