<div class="logo">
  <a routerLink='/'><img src="/assets/images/main/logo.svg" alt=""></a>
</div>
<div class="main-menu">
  <app-menu></app-menu>
</div>

<div class="sidebar-exit">
  <div class="sidebar__line"></div>
  <a href="#">
    <img src="/assets/images/main/logout-icon.svg" alt="">
    <span>Выход из кабинета</span>
  </a>
</div>

<div class="sidebar__contacts">
  <div class="sidebar__line"></div>
  <div class="sidebar__contacts-title">Связь с финансовым советником</div>
  <a class="sidebar__contacts-link" href="tel:+74959889821">+7 (495) 988 98 21</a>
  <div class="sidebar__buttons">
    <a href="#" class="sidebar__btn">Задать вопрос</a>
    <a href="#" class="sidebar__btn">Написать письмо</a>
    <a href="#" class="sidebar__btn">Назначить встречу</a>
  </div>
</div>

<div class="sidebar__contacts">
  <div class="sidebar__line"></div>
  <div class="sidebar__contacts-title">Техническая поддержка аккаунта</div>
  <a class="sidebar__contacts-link" href="tel:+74959889821">+7 (495) 988 98 21</a>
  <div class="sidebar__buttons">
    <a href="#" class="sidebar__btn">Задать вопрос</a>
    <a href="#" class="sidebar__btn">Написать письмо</a>
  </div>
</div>
