<div class="site flex flex_wrap site_gray">
  <app-header-mobile class="header-mobile"></app-header-mobile>
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <div class="wrapper">
      <app-header></app-header>
      <app-top-panel class="top-panel flex"></app-top-panel>
      <router-outlet></router-outlet>
    </div>
    <div class="menu-bottom">
      <div class="menu-bottom__wrapper">
        <app-menu [recursive]='false'></app-menu>
      </div>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
</div>
<div class="scroll-top">
  <a href="#"><img src="/assets/images/main/scroll-top.png" alt=""></a>
</div>
